

#
# * <@insert_github_username>
# Each line is a file pattern followed by one or more owners.
# Lines starting with '#' are comments.
# Order is important. The last matching pattern has the most precedence.
# These owners will be the default owners for everything in the repo.
# This file is also being managed automatically by the gitown tool.
.cmake-format.json benthevining
.ecrc benthevining
.editorconfig benthevining
.gitattributes benthevining
.github/CODEOWNERS benthevining
.github/CODE_OF_CONDUCT.md benthevining
.github/FUNDING.yml benthevining
.github/ISSUE_TEMPLATE/bug_report.md benthevining
.github/ISSUE_TEMPLATE/config.yml benthevining
.github/ISSUE_TEMPLATE/feature_request.md benthevining
.github/workflows/release.yml benthevining
.gitignore benthevining
.gitlint benthevining
.gitownrc benthevining
.markdownlint.json benthevining
.nitpick.toml benthevining
.pre-commit-config.yaml benthevining
.pylintrc benthevining
.style.yapf benthevining
.tool-versions benthevining
CMakeLists.txt benthevining
CMakePresets.json benthevining
CPackConfig.cmake benthevining
Doxyfile benthevining
Makefile benthevining
README.md benthevining
age.cmake benthevining
modules/config_files/LemonsParseProjectConfigFile.cmake benthevining
modules/config_files/scripts/install_mac.cmake benthevining
modules/cpack/LemonsDefaultCPackSettings.cmake benthevining
modules/cpack/LemonsSetDefaultCpackGenerator.cmake benthevining
modules/cpack/OrangesInstallSystemLibs.cmake benthevining
modules/cpack/scripts/CPackConfig.cmake benthevining
modules/cpack/scripts/deb/deb_settings.cmake benthevining
modules/cpack/scripts/deb/postinst benthevining
modules/cpack/scripts/postinst benthevining
modules/cpack/scripts/rpm/rpmPostInstall.sh benthevining
modules/cpack/scripts/rpm/rpm_settings.cmake benthevining
modules/cpack/scripts/rpmPostInstall.sh benthevining
modules/cpack/scripts/set_default_generator.cmake benthevining
modules/cpack/xd.cmake benthevining
modules/documentation/OrangesDocsBuildConfig.cmake benthevining
modules/documentation/OrangesDoxygenConfig.cmake benthevining
modules/documentation/OrangesGraphVizConfig.cmake benthevining
modules/documentation/scripts/Doxyfile benthevining
modules/documentation/scripts/DoxygenLayout.xml benthevining
modules/documentation/scripts/generate_deps_graph_image.cmake benthevining
modules/finders/FindIPP.cmake benthevining
modules/finders/FindJUCE.cmake benthevining
modules/finders/FindMIPP.cmake benthevining
modules/finders/FindMTS-ESP.cmake benthevining
modules/finders/Findclang-tidy.cmake benthevining
modules/finders/Findcodesign.cmake benthevining
modules/finders/Findinclude-what-you-use.cmake benthevining
modules/finders/Findwraptool.cmake benthevining
modules/finders/programs/Findccache.cmake benthevining
modules/finders/programs/Findclang-tidy.cmake benthevining
modules/finders/programs/Findcodesign.cmake benthevining
modules/finders/programs/Findcppcheck.cmake benthevining
modules/finders/programs/Finddot.cmake benthevining
modules/finders/programs/Findinclude-what-you-use.cmake benthevining
modules/finders/programs/Findpluginval.cmake benthevining
modules/finders/programs/Findwraptool.cmake benthevining
modules/finders/programs/package_managers/FindChocolatey.cmake benthevining
modules/finders/programs/package_managers/FindHomebrew.cmake benthevining
modules/finders/programs/package_managers/FindPip.cmake benthevining
modules/finders/programs/package_managers/scripts/mac_install_homebrew.sh benthevining
modules/general/BVBrandFlags.cmake benthevining
modules/general/LemonsCmakeDevTools.cmake benthevining
modules/general/LemonsDefaultProjectSettings.cmake benthevining
modules/general/LemonsDefaultTarget.cmake benthevining
modules/general/LemonsDeprecations.cmake benthevining
modules/general/LemonsFileUtils.cmake benthevining
modules/general/LemonsGetCPM.cmake benthevining
modules/general/LemonsJsonUtils.cmake benthevining
modules/general/LemonsStaticLibraryHelpers.cmake benthevining
modules/general/OrangesCoverageFlags.cmake benthevining
modules/general/OrangesCreateDefaultDocsTarget.cmake benthevining
modules/general/OrangesDefaultCMakeSettings.cmake benthevining
modules/general/OrangesDefaultTarget.cmake benthevining
modules/general/OrangesDefaultWarnings.cmake benthevining
modules/general/OrangesFetchRepository.cmake benthevining
modules/general/OrangesInstallPackages.cmake benthevining
modules/general/OrangesLibraryABIControl.cmake benthevining
modules/general/OrangesUninstallTarget.cmake benthevining
modules/general/lemons_AggregateTargets.cmake benthevining
modules/general/scripts/uninstall.cmake benthevining
modules/installing/LemonsDefaultCPackSettings.cmake benthevining
modules/installing/LemonsSetDefaultCpackGenerator.cmake benthevining
modules/installing/OrangesDefaultCPackSettings.cmake benthevining
modules/installing/OrangesDefaultInstallSettings.cmake benthevining
modules/installing/OrangesGeneratePkgConfig.cmake benthevining
modules/installing/OrangesInstallSystemLibs.cmake benthevining
modules/installing/OrangesSetDefaultCpackGenerator.cmake benthevining
modules/installing/OrangesUninstallTarget.cmake benthevining
modules/installing/scripts/CPackConfig.cmake benthevining
modules/installing/scripts/config.pc benthevining
modules/installing/scripts/postinst benthevining
modules/installing/scripts/rpmPostInstall.sh benthevining
modules/installing/scripts/uninstall.cmake benthevining
modules/integrations/LemonsAllIntegrations.cmake benthevining
modules/integrations/LemonsCcache.cmake benthevining
modules/integrations/LemonsClangTidy.cmake benthevining
modules/integrations/LemonsCppCheck.cmake benthevining
modules/integrations/LemonsCppLint.cmake benthevining
modules/integrations/LemonsIncludeWhatYouUse.cmake benthevining
modules/integrations/OrangesAllIntegrations.cmake benthevining
modules/integrations/OrangesCcache.cmake benthevining
modules/integrations/OrangesClangTidy.cmake benthevining
modules/integrations/OrangesCppCheck.cmake benthevining
modules/integrations/OrangesCppLint.cmake benthevining
modules/integrations/OrangesIncludeWhatYouUse.cmake benthevining
modules/integrations/scripts/launcher.in benthevining
modules/internal/BVBrandFlags.cmake benthevining
modules/internal/lemons_AggregateTargets.cmake benthevining
modules/juce/LemonsAppUtilities.cmake benthevining
modules/juce/LemonsAssetsHelpers.cmake benthevining
modules/juce/LemonsJuceModuleUtilities.cmake benthevining
modules/juce/LemonsJuceUtilities.cmake benthevining
modules/platform/LemonsDefaultPlatformSettings.cmake benthevining
modules/platform/LinuxLSBInfo.cmake benthevining
modules/platform/scripts/lemons_ios_settings.cmake benthevining
modules/platform/scripts/lemons_linux_settings.cmake benthevining
modules/platform/scripts/lemons_macos_settings.cmake benthevining
modules/platform/scripts/lemons_windows_settings.cmake benthevining
modules/plugins/AAX/LemonsAAXSigning.cmake benthevining
modules/plugins/AAX/LemonsAAXUtils.cmake benthevining
modules/plugins/AAX/LemonsCreateAAXSDKTarget.cmake benthevining
modules/plugins/LemonsAddPrivateSDKs.cmake benthevining
modules/plugins/LemonsPluginSigning.cmake benthevining
modules/plugins/LemonsPluginUtilities.cmake benthevining
ning
package.json benthevining
scripts/OrangesConfig.cmake benthevining
scripts/OrangesMacros.cmake benthevining
scripts/alphabetize_codeowners.py benthevining
scripts/run_test_on_real_hardware.sh benthevining
scripts/util.make benthevining
toolchains/android.cmake benthevining
toolchains/ios/ios.cmake benthevining
toolchains/ios/ios_common.cmake benthevining
toolchains/ios/ios_simulator.cmake benthevining
toolchains/ios/tvOS_simulator.cmake benthevining
toolchains/ios/watchOS.cmake benthevining
toolchains/ios/watchOS_simulator.cmake benthevining
toolchains/ios_common.cmake benthevining
toolchains/mac_universal_binary.cmake benthevining
toolchains/mingw/mac_mingw.cmake benthevining
toolchains/mingw/mingw_common.cmake benthevining
util/oranges_header.txt benthevining
util/workspace_dependencies.json benthevining
